:root {
    --font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS";
    /*--background-input: white;
    --background: rgb(213, 248, 236);
    --sub-background: rgb(246, 225, 197);
    --font: Arial, Helvetica, sans-serif; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    position: relative;
}

#root {
    height: 100vh;
    background: whitesmoke;
}

.App {
    min-height: 100vh;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7% 73% 20%; */
}

.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* grid-column-start: 1/2;
    grid-row: 2/3; */
}
