.welcome_container {
    position: relative;
    top: 15rem;
    display: flex;
    flex-direction: column;
}

.welcome_title {
    font-family: var(--font-family);
    font-size: 3rem;
    justify-self: center;
    align-self: center;
    margin-bottom: 2rem;
}
